.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}
.container {
  position: relative;
  flex-grow: 1;
  margin-top: 10px;
}
.container :global .Resizer {
  z-index: 1;
  box-sizing: border-box;
  position: relative;
}
.container :global .Resizer::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #f0f0f0;
  transition: background-color 0.15s ease;
}
:global(.vscode-dark) .container :global .Resizer::after {
  background-color: #424242;
}
:global(.vscode-high-contrast) .container :global .Resizer::after {
  background-color: #424242;
}
.container :global .Resizer:hover {
  transition: all 0.3s ease;
}
.container :global .Resizer:hover::after {
  background-color: #1890ff;
  height: 2px;
}

.container :global .Resizer.horizontal {
  height: 12px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.container :global .ant-tabs-content {
  height: 100%;
}

.container :global .ant-tabs-nav {
  margin-bottom: 10px;
}
