.layout {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
}
.container {
  position: relative;
  flex-grow: 1;
  margin-top: 10px;
}
.container :global .Resizer {
  background: #eee;
  z-index: 1;
  box-sizing: border-box;
  background-clip: padding-box;
}

.container :global .Resizer:hover {
  transition: all 0.3s ease;
}

.container :global .Resizer.horizontal {
  height: 12px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: ns-resize;
  width: 100%;
}
.container :global .Resizer.horizontal:hover {
  background-color: #1890ff;
}
