.table {
  width: 100%;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 1px solid #f0f0f0;
  padding: 5px;
  height: 36px;
  text-align: left;
  padding: 0 10px;
  word-break: break-all;
}
:global(.vscode-dark) .table th,
.table td {
  border-color: #434343;
}
:global(.vscode-high-contrast) .table th,
.table td {
  border-color: #434343;
}

.table th {
  font-weight: normal;
}

th.title {
  padding: 0 10px;
}

.container {
  height: 100%;
  position: relative;
  padding-top: 36px;
}
.container header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: -1px;
  z-index: 1;
  background-color: #fff;
}
:global(.vscode-dark) .container header {
  background-color: transparent;
}
:global(.vscode-high-contrast) .container header {
  background-color: transparent;
}
.container section {
  overflow: auto;
  height: 100%;
}
