.container {
  height: 100%;
}

.content {
  padding-top: 10px;
  height: calc(100% - 42px);
}
.content > div {
  height: 100%;
}

.hidden {
  display: none;
}
.type {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
